.welcome{
    height: 100vh;
    background-color: #F7F9FB;
}

.gallery{
    height:100vh;
    background-color: #8FC1E3;
}

.card-img-width{
    width: 300px;
}

.card-img-top{
    height: 300px;
}

.pet_img-size {
    width: 300px;
    height: 175px;
}


.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-pad {
    padding: 10px;    

}

.about{
    height:100vh;
    background-color: #5085A5;
}

