.welcome{
    height: 80vh;
    background-color: #F7F9FB;
}

.gallery{
    height:80vh;
    background-color: #8FC1E3;
}

.pet_img-size {
    width: 300px;
}

.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-pad {
    padding: 10px;    
}