.welcome{
    height: 100vh;
    background-color: #F7F9FB;
}

.gallery{
    height:100vh;
    background-color: #8FC1E3;
}

.card-img-width{
    width: 300px;
    object-fit: cover;
}

.card-img-top{
    height: 300px;
}

.pet_img-size {
    width: 300px;
    height: 175px;
}


.no-bullet {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-pad {
    padding: 10px;    
}

.about{
    height:100vh;
    background-color: #5085A5;
}

.jumbotron {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1609595440415-a8dab77bf080?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") center center;
  background-size: cover;
  margin-top: 5rem;
}